* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

:root {
    --darkTone: #301210;
    --midTone: #813528;
    --accentTone: #f8c5bc;
    --neutralTone: #cfb4ab;
    --lightTone: #f8eae7;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--lightTone);
    min-height: 100vh;
    max-width: 100vw;
    position: relative;
}


/* Header */
header {
    display: flex;
    background-color: var(--darkTone);
    justify-content: space-between;
}

header h1 {
    display: flex;
    background-color: var(--accentTone);
    color: var(--darkTone);
    margin: 15px 0;
    padding: 5px 10px 5px 30px;
}

header nav {
    display: flex;
    padding-right: 30px;
} 

header nav a {
    text-decoration: none;
    color: var(--accentTone);
    margin: auto 10px;
    padding: 10px;
}

/* Main */
main {
    background-color: var(--lightTone);
}

h2 {
    font-size: 30px;
    color: var(--midTone);
}

h3 {
    color: var(--darkTone);
}

p {
    color: var(--darkTone);
}


/* Banner */
#banner {
    max-width: 100vw;
    height: 180px;
    background-image: url('./images/susan-wilkinson-unsplash.jpg');
}

#banner-text {
    background-color: var(--accentTone);
}

/* Aside Headings */
aside {
    border-right: 4px solid var(--midTone);
    width: 20vw;
    padding: 5px 15px;
    text-align: right;
}


/* About Me Section */
#about-me {
    display: flex;
    margin: 30px 20px;
}
#about-me article {
    font-size: 12px;
    padding: 5px;
    max-width: 68vw;
    margin-left: 20px;
    
}


/* Work Section */
#work {
    display: flex;
    margin: 30px 20px;
}

.work-cards {
    display: flex;
    flex-wrap: wrap;
    min-width: 70vw;
}

/* Big Card */
.big-card {
    flex: 100%;
    background-image: url('./images/kier-in-sight-unsplash.jpg');
    border: 5px solid var(--accentTone);
    display: flex;
    align-items: flex-end;
    height: 360px;
    margin: 5px 5px 10px 20px;
}

/* Smaller Cards */
.card-1 {
    flex: 40%;
    max-width: 70vw;
    background-image: url('./images/luca-nicoletti-1-unsplash.jpg');
    height: 180px;
    border: 5px solid var(--accentTone);
    display: flex;
    align-items: flex-end;
    margin: 5px 5px 10px 20px;
}

.card-2 {
    flex: 40%;
    max-width: 70vw;
    background-image: url('./images/luca-nicoletti-3-unsplash.jpg');
    height: 180px;
    border: 5px solid var(--accentTone);
    display: flex;
    align-items: flex-end;
    margin: 5px 5px 10px 20px;
}

.card-3 {
    flex: 40%;
    max-width: 70vw;
    background-image: url('./images/luca-nicoletti-2-unsplash.jpg');
    height: 180px;
    border: 5px solid var(--accentTone);
    display: flex;
    align-items: flex-end;
    margin: 5px 5px 10px 20px;
}

.card-4 {
    flex: 40%;
    max-width: 70vw;
    background-image: url('./images/luca-nicoletti-4-unsplash.jpg');
    height: 180px;
    border: 5px solid var(--accentTone);
    display: flex;
    align-items: flex-end;
    margin: 5px 5px 10px 20px;
}

/* Card Headings & Links */
.big-heading {
    background-color: var(--accentTone);
    margin-bottom: 20px;
    padding: 15px;
    text-decoration: none;
}

.work-heading {
    background-color: var(--accentTone);
    max-width: fit-content;
    margin-bottom: 20px;
    padding: 15px;
    text-decoration: none;
}

/* Footer */
footer {
    display: flex;
    background-color: var(--lightTone);
    position: relative;
    max-width: 100vw;
    bottom: 0;
    margin: 30px 20px 0px 20px;
}

footer h2 {
    text-align: right;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: var(--darkTone);
    margin: 10px 20px;
    padding: 5px;
    border-bottom: 3px solid var(--midTone);
}

#contact-me section {
    display: flex;
    align-items: center;
    margin-left: 15px;
}